.swiper {
  width: 100%;
  height: max-content;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-pagination-bullet-active {
  background-color: #d97706 !important;
  width: 40px;
  border-radius: 10px;
}

.swiper-button-prev {
  left: 0;
  color: #d97706 !important;
}

.swiper-button-next {
  right: 0;
  color: #d97706 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px;
}
